[2022-05-29 07:36] i0ntempest commented on #539
Ok this is weird, I checked out the code at v18.2 and run that with npm, the scan completes just fine.

[2022-05-29 08:46] joel-tonuri commented on #539
Same issue here since updating.

[2022-05-29 08:47] porcherie commented on #539
same problem here, MacBook Pro 2020 M1, macOS 12.4.
tried in installing app with app cleaner and reinstall fresh but all I get is the spinning wheel

[2022-05-29 11:15] will-stone commented on #539
Hmmm, maybe it's because there's something in the [file-icon](https://github.com/sindresorhus/file-icon) package that's not being bundled with the app, but is globally on my system. That's just a hunch.

If the loading spinner just spins, it means that the main process has thrown an error, otherwise you'd get the list of installed browsers just not the images. I'll put a try/catch around the [getA

[2022-05-29 11:16] will-stone commented on #539
This ☝️  may not be today, so I suggest downgrading to 18.1.0 for now.

[2022-05-31 09:15] henocookie commented on #539
Just adding I've also had this bug on a M1 MacBook Pro 202
<img width="362" alt="Screenshot 2022-05-31 at 9 44 56 am" src="https://user-images.githubusercontent.com/52792328/171138749-9a6d9564-3e42-4cba-ac23-b9f1c70eddbd.png">
0

[2022-05-31 09:31] will-stone commented on #539
I've got an intel mac for work, and can reproduce the bug. However, I also [setup support for native node modules](https://github.com/will-stone/browserosaurus/blob/aac97f544d7a6edc6885008d96698f7f2cac50f0/webpack.rules.cjs#L3) and packaged the app and sent it to my work mac, and it's still not producing the icons. The file-icon package uses Swift code, or a it might be a permissions thing, any he

[2022-05-31 14:43] kiwi-x commented on #539
Hi.

I just did an fresh install via Homebrew on my new m1 Mac. Browserosaurus didn't find any browser installed on my machine. After finding this thread I removed the latest version 18.2.0 and installed the 18.1.0 version from GitHub release assets and the installed browser where detected immediately.

For me it looks like the browser detection is broken with the new version 18.2.0.

[2022-05-31 16:38] will-stone commented on #539
18.3.0 released. It (probably) won't fix the icons but it'll at least find the browsers. I've explained what I think the issue(s) may be above. If you'd like to help, please take a look at why you think [the icons-detection feature](https://github.com/will-stone/browserosaurus/blob/main/src/main/utils/get-app-icons.ts) isn't working on the packaged app. As noted above by @i0ntempest, it seems to w

[2022-05-31 20:52] i0ntempest commented on #539
I did not do this, what I did was running the two command in your "Setting up for development" tutorial using MacPorts npm. Also I have parts of SIP disabled on my system. So I guess it's either npm/node installed by MP is somewhat special, or SIP has effects on this. I'd suggest you try disabling SIP first, if you can do that on your work computer.

[2022-05-31 20:58] will-stone commented on #539
I’m pretty sure I don’t have any SIP disabled 🤔 Do you have a command we can run to check? I’m currently looking to see how I can get an Electron app to log out to Console.app. Once I’ve figured that out, I should be able to just add a logger inside the catch to see if we can garner more info. We could possibly log a ticket on the file-icon repo, but I’d rather not do that until we have more info.

[2022-05-31 20:59] i0ntempest commented on #539
`csrutil status`

[2022-06-01 13:10] benjamingwynn commented on #539
18.3.0 produces no icons for me on macOS 12.4. SIP is enabled on my machine. What are the disadvantages of bundling the icons with the application exactly? It seems like the least complicated and least likely to fail solution from an outsiders perspective.

![noicons](https://user-images.githubusercontent.com/1631422/171411909-ad7e07d9-dd37-4336-838b-c4f614478259.png)
![noicons-2](https://user-ima

[2022-06-01 14:04] will-stone commented on #539
It's about maintenance. Icons change over time, if they're taken from the system then Browserosaurus doesn't require a release when one changes, or even if the user [wants to change them themselves](https://github.com/will-stone/browserosaurus/blob/923395a683af81b0f22b454f497d31303cabc2a8/src/main/utils/get-app-icons.ts#L14). Also it lowers the barrier to supporting a new browser in the project. A

[2022-06-01 16:24] benjamingwynn commented on #539
If you're looking into production logging then using a dependency like [electron-log](https://www.npmjs.com/package/electron-log) could help (or at least drawing inspiration from it), you could ask users to just go to `~/Library/Logs/Browersaurus` for the stack trace. I would assume it's a file access problem, but it'd be neat to see the log to be more helpful.

I can't find a way to bring up the

[2022-06-01 18:43] will-stone commented on #539
Nice, thanks 😊 Feel free to PR that and I’ll do a patch release to see if we can start getting some data from people (and my work machine). It certainly is a weird one.

[2022-06-02 06:58] will-stone commented on #539
Thanks @benjamingwynn. I've released 18.4.0 (minor bump as I've moved the update notification into the picker, no more blue icon 🥳).

Okay, after you've opened the picker or pref window, the icon retrieval will be attempted. Then check `~/Library/Logs/Browserosaurus/main.log` and see what we get. Please post your results here, hopefully we can get to the bottom of this 🤞

[2022-06-02 07:07] i0ntempest commented on #539
[code]

[2022-06-02 07:19] i0ntempest commented on #539
Yup, just as I thought. I symlinked file-icon binary to that hardcoded path and I now have icons.
[code]

[2022-06-02 08:04] will-stone commented on #539
Oh wow, good spot! So that must be something happening at compile time. I wonder if I use the non-esm version of file-icon if that will work better with Electron.

https://github.com/sindresorhus/file-icon/blob/c4a1f7d3fb450694bb5eb4a9535e76a6696168c9/index.js#L8

vs

https://github.com/sindresorhus/file-icon/blob/bfe1b32b7341d881866aa6c57693dce6783dd70d/index.js#L8

I'll give it a go in the next

[2022-06-03 06:27] vitalii427 commented on #539
Still same on 18.4.0  macOS 12.4 M1

[2022-06-03 08:21] will-stone commented on #539
Well, so far I've tried the CJS version (v4) of file-icon, and get an `EACCES` error.

Keeping with the ESM version (v5) of file-icon but using the `importMeta: false` webpack config results in a `SyntaxError: Cannot use 'import.meta' outside a module` error.

So currently I'm a bit stumped 😕

[2022-06-03 09:26] i0ntempest commented on #539
I don’t really know how electron/nodejs works, but if file-icons binary is bundled in the app, can’t you just use a relative path or use RPATH to reference the binary?

[2022-06-03 10:59] will-stone commented on #539
Well, it's a third party package. I'll post an issue on their project when I get a chance, and see if they have any ideas on how to proceed. The maintainer, Sindre, used to be a keen Electron user, so hopefully he can help 🤞

[2022-06-03 17:31] boettchs opened #545 "18.4.0 - no icons showing..."
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-06-03 17:33] boettchs commented on #545
Followup: I did a reset, but it didn't change the missing icons...

[2022-06-04 06:01] #545 closed

[2022-06-05 14:29] benjamingwynn commented on #539
You might need to build file-icons with webpack along with the project, so webpack can include the Switft binary in the output build files. To do this you may need to use a [loader](https://webpack.js.org/loaders/) to tell it how to include the binary properly, but it might be as simple as just adding `node_modules/file-icons/**` to the includes in the webpack config

[2022-06-05 15:03] will-stone commented on #539
@benjamingwynn The file-icon Swift binary is wrapped in JS and so is included in my webpack build, it’s just `import.meta.url` that gets replaced at build time by an absolute file url, in this case my path to the module. However, a loader may be the right way to go but for replacing `import.meta.url` with a _relative_ path. Alternatively, I’m thinking I could build my own wrapper around the Swift

[2022-06-05 15:43] benjamingwynn commented on #539
Ah yeah, looking at file-icon's source I can see they use

`const __dirname = path.dirname(fileURLToPath(import.meta.url));`

So outside of webpack rewriting import.meta.url I'm unsure on if a specific loader would help, as the file isn't required/imported but rather loaded using `fs` (import.meta.url might actually be controlled by the loader too, again not sure)

The ideal option would be if you

[2022-06-07 16:40] subfighter3 commented on #539
Hi there, version 18.4 seemed to have fixed this issue, but after a while it's still there as 18.2..

[2022-06-08 14:25] will-stone commented on #539
Here's my latest findings. I moved back to v4 of `file-icon` which is CJS, and will therefore not suffer from the `import.meta.url` issue, as that's an ESM-only thing. On first run, I get an `EACCES` (permissions) error.

A bit of background: when using native binaries, a package called [`@vercel/webpack-asset-relocator-loader`](https://github.com/vercel/webpack-asset-relocator-loader) moves the b

[2022-06-08 17:24] will-stone commented on #539
Can somebody please clone and switch to the `#539-use-cjs-file-icon` branch, do an `npm install` followed by `npm start` and see if you get the same `EACCES` error when opening the picker or preferences windows? Thanks 😊

[2022-06-09 00:01] i0ntempest commented on #539
I get `EACCESS` when I open Apps panel of B preferences, I guess it's the same thing:
[code]

[2022-06-09 05:42] will-stone commented on #539
Yeah that’s the one 👍 Okay, so it’s not just me.

[2022-06-09 09:58] will-stone commented on #539
Have [asked Sindre for help](https://github.com/sindresorhus/file-icon/issues/13). Hopefully someone knows how to handle the package in an Electron environment 🤞

[2022-06-18 14:19] will-stone commented on #539
This has been fixed in 18.4.1 🥳 Please note that it may take some time for them show on first show of the picker, I'll be looking to speed this up in future releases. The reason is takes so long is because the app currently takes the following journey:

- App loads.
- Browsers are not scanned for at this point, previously saved browsers are shown, without logos.
- User clicks link or opens the pic

[2022-06-18 14:24] will-stone commented on #350
Several Electron and macOS updates later and this doesn't look to be fixed upstream 😭 Keep yer fingers crossed that it gets fixed in Ventura 🤞

Yep, this is why I gave in a few years ago and started paying for the Apple Developer license; otherwise I can't notarize the app, and then Apple slows it down, making it more or less unusable 🙄

[2022-06-20 12:22] i0ntempest commented on #539
Looking good here! Thanks

[2022-06-20 12:31] porcherie commented on #539
@will-stone you are right, working great here. Thanks for the effort, this one took long. Great job👍🏻
Love your app

[2022-06-20 15:42] henocookie commented on #539
Working again, thanks for persisting! Super useful app 🤩

[2022-06-26 11:06] jovobe commented on #539
I still have this bug on v18.4.2 (macOS 12.4 on MacBook with M1 Pro). I already reinstalled the app and reset to factory defaults. Are there any more actions I can try to resolve this?

[2022-06-26 13:53] will-stone commented on #539
@jovobe Can you please clone and load the app locally (docs are on the readme) and see what the console says when it tries to load the icons? Thanks.

[2022-06-27 15:20] macintacos opened #549 "`open` command in terminal exits with an error"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-06-28 06:26] will-stone commented on #549
Hi,

Unfortunately this seems localised to your machine, as it's working for me:

https://user-images.githubusercontent.com/654103/176108054-e1286570-1a3f-43d3-9318-5caada6a2dc1.mp4

I'll check my work machine later before closing this though...

[2022-07-12 16:25] justin-guan opened #552 "Links that point to local resources are invalid when opening with browserosaurus"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-07-13 06:46] will-stone commented on #552
Thanks @justin-guan 🙂 I’m not currently with my computer (I’m on honeymoon 🥳) but it certainly sounds like upgrading the package would help, and I’ll do that when I get back.

Interesting that you couldn’t get `main` up and running. Which version of node are you using? Browserosaurus currently needs v16 (I don’t think v18 works).

[2022-07-13 15:21] justin-guan commented on #552
Congrats! 🎉  Definitely not a super urgent issue.

It's not that I couldn't get `main` up and running, but rather the browser picker doesn't seem to show up for me when opening links that point to local resources with a local build. Running `main`, everything seems to work as expected when I click a link that points to a web resource (ie. https://example.com), but if I repeat the repro steps from

[2022-07-13 16:34] paulhetzel opened #555 ""missing h/t and H/T" displays in browser"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-07-14 09:11] will-stone commented on #552
Are you setting Electron as your default browser? In the preferences click Make Default in the General pane.

[2022-07-14 10:55] nfekete commented on #539
Doesn't work for me either, v18.4.2.

This what I see in the logs (`~/Library/Logs/Browserosaurus/main.log`):
[code]

[2022-07-17 08:20] will-stone commented on #555
Thanks @paulhetzel, this has now been logged with the package that cleans the URLs of trackers.

[2022-07-17 14:26] will-stone commented on #555
Will be fixed in next release 👍 Thanks to @DrKain for updating their tidy-url package.

[2022-07-17 14:26] #555 closed

[2022-07-17 14:27] will-stone commented on #552
The next release will use the latest tidy-url version. Thank you for submitting the patch to their project.

[2022-07-17 14:27] #552 closed

[2022-07-17 15:09] paulhetzel commented on #555
Very much appreciated!

On Jul 17, 2022 at 10:26:10 AM, Will Stone ***@***.***> wrote:

[2022-07-20 19:36] jovobe commented on #539
@will-stone sorry for the delayed answer. I finally found time to follow your instructions and I get the following error, when launching Browserosaurus:

<details>
<summary>See log here</summary>
[code]
</details>

[2022-07-20 19:47] will-stone commented on #539
@nfekete @jovobe To confirm, are you both definitely using the correct copy of Browserosaurus for your CPU architecture?

[2022-07-21 14:57] nfekete commented on #539
@will-stone I installed Browserosaurus with `brew`, so I am not sure. How to check?

[2022-07-21 15:03] nfekete commented on #539
Hmm, I tried with a manually downloaded version and it works now.

Is this how it supposed to look like? I am asking because the last version I've seen was 15.0.6, which looked quite differently from this.
<img width="263" alt="image" src="https://user-images.githubusercontent.com/16191714/180246792-b5c458e1-c173-480c-8540-fa0f1e7debf2.png">

I have also reinstalled the app with brew and I can con

[2022-07-22 15:02] benjamingwynn commented on #539
Working great on my machine - thanks @will-stone!

[2022-07-25 05:36] rohit-gohri opened #561 "Scroll position is not reset"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-07-25 07:20] will-stone commented on #561
Thanks @rohit-gohri. This will be fixed in the next release 👍

[2022-07-25 07:21] #561 closed

[2022-07-25 13:22] will-stone commented on #540
will be fixed in next release.

[2022-07-25 13:22] #540 closed

[2022-07-27 09:59] jovobe commented on #539
@will-stone I double-checked it, and I am using the correct version. I also tried the new released version v19.0.0 for ARM (darwin-arm64-19.0.0.zip) but I still get no icons:
![grafik](https://user-images.githubusercontent.com/1265894/181219973-8c59180b-a53d-4f8c-8699-2c348b9dd3a2.png)

[2022-08-03 09:56] janwiktor opened #563 "Chrome & Brave stopped being detected in v 19.0.0"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-08-03 14:51] will-stone commented on #563
Hi @janwiktor Can you please try unticking Applications in Spotlight settings and then ticking it again? Once it's on, you may need to reboot.

<img width="667" alt="image" src="https://user-images.githubusercontent.com/654103/182639176-ac1bf203-cc96-48dc-88ff-ab41b07ab07f.png">

[2022-08-04 07:43] janwiktor commented on #563
Hi again! Thanks for responding – so it did help partially. Brave appeared back after reindexing in Spotlight, Chrome however still remains undetected (it does show in Spotlight suggestions though) 😲 I rerun the indexing and factory reset Browserosaurus to double-check, but it's still not showing. Anything else I could inspect or try?

[2022-08-04 11:54] will-stone commented on #563
Hmmm, not sure. Where’s Chrome installed? Then run: `mdls -name kMDItemCFBundleIdentifier -r /PATH/TO/APP.app` This is all B does, it should come back with: `com.google.Chrome`

[2022-08-04 15:13] janwiktor commented on #563
`/Applications/` Ran the command, it returned `com.google.Chrome` as expected, and also Chrome appeared back in B's preferences when I checked recently. Maybe the identifiers took longer to index? Weird, but solved. Thanks!

[2022-08-04 15:13] #563 closed

[2022-08-04 16:25] will-stone commented on #563
It can run a little slow on intel machines. I need to figure out some nice UX to show that it’s still scanning 🤔

[2022-08-09 21:13] will-stone commented on #539
I'm getting this on my new mac 😖 `Error: spawn Unknown system error -86` 🤷‍♂️

[2022-08-09 21:16] will-stone commented on #539
Got it! You need to install Rosetta:
[code]
This is irritating because it's an arm binary and shouldn't need Rosetta. More digging required...

[2022-08-10 05:52] will-stone commented on #539
Okay figured it out. I’m using v4 of file-icon but Apple silicon support wasn’t introduced until v5.1. Unfortunately it is hard to upgrade because v5+ is ESM only which Electron cannot use. I may have to fork the project or see if there’s an electron-transpile tool somewhere that can convert it to CommonJS.

[2022-08-11 19:43] benjamingwynn commented on #539
can you use the old commonjs version with the new binary?

[2022-08-11 20:19] aaronkollasch opened #564 "Browserosaurus does not show when opening downloaded html file"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-08-11 21:12] will-stone commented on #539
Yeah, I’m currently looking at moving the binary directly into the project and writing my own wrapper around it.

[2022-08-12 09:31] will-stone commented on #564
Thanks. I've not heard of `com.apple.quarantine`, I'll have to do some reading up on that.

[2022-08-12 16:24] will-stone commented on #539
This will hopefully be fixed in the next release. I'll ping those effected when it's ready.

[2022-08-12 16:24] #539 closed

[2022-08-12 16:44] will-stone commented on #539
@nfekete @jovobe Okay 19.0.1 is now available to download, restart B and go to prefs to see the update download button (I plan to improve this UX at some point).

[2022-08-14 08:48] jovobe commented on #539
@will-stone thank you so much for fixing and pinging me! This seems to be a small thing, but you made my everyday work experience so much better 🎉 Going to get you a coffee right now ☕

[2022-08-14 09:29] will-stone commented on #539
Ah, that’s much appreciated @jovobe 😊

[2022-08-24 18:43] will-stone commented on #564
I don't really know the solution here as Browserosaurus cannot see the incoming URL (file) 🤷‍♂️

[2022-09-24 09:49] mreid-tt commented on #462
hey @will-stone, this bug seems to have re-appeared in version 19. can you look into this again?

[2022-09-25 06:17] will-stone commented on #462
Hi @mreid-tt there’s two bugs mentioned in this thread so please clarify. In fact, could you please fill out a new issue as so much has changed in B’s logic that it’s very likely not related to anything in this thread. Thanks 😊

[2022-09-25 17:55] mreid-tt opened #572 "Missing browsers in pop-up when clicking link"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-09-25 21:22] will-stone commented on #572
Hi. Could you please share screenshots and/or videos, thanks 😊

[2022-09-25 21:24] will-stone commented on #572
Oh, can you please upgrade to 19.1.0? Cheers.

[2022-09-28 01:03] mreid-tt commented on #572
i didn't realise i wasn't on the latest version. i've upgraded and am now monitoring to see if the problem reoccurs. note that it did not happen on each boot of the iMac so i'll leave this open a while to see if it reoccurs.

[2022-09-29 09:12] mreid-tt commented on #572
Unfortunately it's still happening...

https://user-images.githubusercontent.com/943378/192991625-d2572eee-00aa-472c-8647-c7fa9638ada6.mov

[2022-09-29 09:46] will-stone commented on #572
Could you please try running the Factory Reset? As it might be a corrupt store. Thanks

[2022-10-01 13:48] saneef commented on #469
I'm using Browserosaurus v19.1.0. The keyboard shortcuts changes across different keyboard layouts. :'(

| US  | Colemak  |
|:--|:--|
| <img width="362" alt="Screenshot 2022-10-01 at 19 05 37" src="https://user-images.githubusercontent.com/81863/193412280-a047131a-c12f-41f5-8219-32a2c18b2e0f.png"> | <img width="362" alt="Screenshot 2022-10-01 at 19 05 55" src="https://user-images.githubusercontent

[2022-10-01 21:15] will-stone commented on #469
Possibly 🤷‍♂️ Please send a PR if it’s not behaving as expected. Thanks 😊

[2022-10-01 23:19] mreid-tt commented on #572
okay, so i've done a factory reset and it was working well but today i saw my default browser missing from the list...

https://user-images.githubusercontent.com/943378/193431674-a94f78f7-d2bf-4e3d-839e-a5c0a9a5fbbe.mov

[2022-10-02 07:00] will-stone commented on #572
Very strange. It's odd it's only not picking up Brave. Let's see if anyone else reports something similar so we can find a pattern.

[2022-10-02 17:45] mreid-tt commented on #572
The issue is not only with Brave. There is a random number of browsers it will pick up just like in the original ticket https://github.com/will-stone/browserosaurus/issues/462 I opened for this. Here's it today only picking up one...

https://user-images.githubusercontent.com/943378/193468312-fb1597a5-85a2-4bbd-9aaa-7e8339ed0436.mov

[2022-10-05 12:44] saneef commented on #469
Today, I tried to find what would be a better approach. It seems, relying on either `event.key` or `event.code` doesn't seem to work for different keyboard layouts. Here I've made a table of physical keys pressed using three different layouts: ABC (US QWERTY), Colemak, and Russian.

<img width="1208" alt="Screenshot 2022-10-05 at 17 14 31" src="https://user-images.githubusercontent.com/81863/19405

[2022-10-21 09:19] Drallas opened #577 "Duckduck browser not detected"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-10-21 09:22] will-stone commented on #577
Hi @Drallas could you please [follow the instructions for finding the bundle identifier](https://github.com/will-stone/browserosaurus/blob/main/guide/supporting-a-browser-or-app.md#finding-bundle-identifier-for-an-app)? DDG recently released a new major version of their browser and they may have changed the identifier. Thanks 🙂

[2022-10-21 10:35] Drallas commented on #577
Sure it's com.duckduckgo.macos.browser

[2022-10-21 10:48] will-stone commented on #577
Oh! You're on a very old version of Browserosaurus 😱 Latest version can be found here: https://github.com/will-stone/browserosaurus/releases

[2022-10-21 10:48] #577 closed

[2022-10-21 11:19] Drallas commented on #577
Seems brew upgrade missed browserosaurus, fixed now!

[2022-10-22 07:56] cddehsy opened #578 "open error"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-10-23 07:02] will-stone commented on #578
Hi @cddehsy Those images didn't upload correctly, please can reupload the screenshot? Thanks.

[2022-10-25 19:11] paulhetzel opened #579 "Chrome opening in most recently used window (incognito or "regular")"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-10-25 21:19] Fouedsassi opened #580 "Missing browsers and app since upgrade to MacOS Ventura"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-10-26 06:00] will-stone commented on #579
Hi, does this happen when you set Chrome as your default browser? Or just when using Browserosaurus to select Chrome?

[2022-10-26 09:25] will-stone commented on #580
Hi 👋 I can see all my browsers after upgrading. You may need to reindex Spotlight. This can be done by unchecking Apps and rechecking it again in Spotlight preferences.

[2022-10-26 17:30] Fouedsassi commented on #580
Hi!! That did it thank you!! Didn’t work at first after indexing but
restarting the Mac solved it.

Cheers

On Oct 26, 2022 at 2:25:23 AM, Will Stone ***@***.***> wrote:

[2022-10-26 18:47] will-stone commented on #580
Awesome. Glad to hear it 🙂

[2022-10-27 10:25] W608 opened #581 "MacOS ventura upgrade Browsersaurus not finding Safari any longer on startup/reboot"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-10-27 10:47] will-stone commented on #581
Hey 👋 You are on a very old version of Browserosaurus, please retry with latest version which, at time of writing is 19.1.0. Thank you 🙂

[2022-10-27 10:47] #581 closed

[2022-10-28 05:57] will-stone commented on #578
Closing for now. Please reopen if you are able to provide the screenshot. Thanks 😊

[2022-10-28 05:57] #578 closed

[2022-10-31 07:24] mrplug commented on #572
Hello all,

I can confirm the error. For me, the scan finds 9 browsers, but only 8 are displayed in the list.  Safari is always missing for me. Even hitting the rescan button multiple times does not fix it. It is like i have to open the option menu and wait a specific time to refresh.

I have also tried resetting to factory settings. Unfortunately, it did not help. The error occurs again after eve

[2022-10-31 07:26] mrplug commented on #350
I upgraded on Ventura last week and it is still happening 😔

[2022-10-31 08:40] will-stone commented on #572
Thanks @mrplug These intermittent bugs are a pain! Have you had a chance to look at the code? Happy to review a PR 😊

[2022-10-31 13:28] will-stone commented on #579
I've just checked and this is standard Chrome behaviour.

[2022-10-31 13:28] #579 closed

[2022-11-02 07:35] lkravchuk commented on #572
I have exactly the same issue on macOS 13.0 (Intel), every time I restart MacBook, Safari disappears from the list. Gladly, rescan helps, but I have to run it after every restart. No issues with the other apps (Figma, Slack, Vivaldi, Chrome)

[2022-11-03 09:07] faebe opened #582 "Ventura virtual desktop compatibility"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-11-03 09:21] will-stone commented on #582
Hi @faebe Thank you for reporting. I don't currently have time to look into this issue, and I don't use virtual desktops so it's not a priority for me. I'd gladly review a pull request if you'd like to submit one 🙂

[2022-11-04 07:34] roastedduk commented on #582
Can confirm I have this issue too with latest stable Ventura release.

[2022-11-04 09:19] will-stone commented on #582
Thanks @roastedduk. Happy to review a PR if you find the culprit 😄

[2022-11-08 10:10] will-stone commented on #582
Hi @faebe @roastedduk Could you please do a screen recording of the issue you're facing as it seems to be working okay when I try it. Here's my setup:
- macOS 13.0 (M2)
- B 19.1.0

[2022-11-08 17:10] roastedduk commented on #582
Hey sorry for the late reply. I can't seem to reproduce the issue anymore after restarting. Not sure what happened but it's working fine now.

[2022-11-08 23:42] stefanschwartzjnr commented on #572
Same issue here on macOS Ventura (Intel). Safari is my default browser, and after restart I have to rescan apps and then everything is okay.

[2022-11-09 05:47] roastedduk commented on #582
https://user-images.githubusercontent.com/105736696/200748895-af5e13fe-c297-4275-b312-380da778cf8c.mp4

Nvm, encountered the bug again, B 19.1.0, Ventura 13.0. Hope this helps!

[2022-11-12 10:59] y-mx-b commented on #582
I've seen this bug pop up now and again since either Big Sur or Catalina. I'm not entirely sure why this happens, and it's not easily reproducible. Quitting and reopening the app tends to fix it though.

[2022-11-13 14:48] flacial commented on #582
I tried to reproduce it in the development app (19.2.0), but it doesn't occur at all. However, it seems to be related to [electron workspace API](https://github.com/electron/electron/issues/5362)

@roastedduk @faebe may you share how to reproduce it? It'll help in finding the _culprit_

[2022-11-13 15:01] roastedduk commented on #582
It's still happening with 19.2.0 for me, but same as @y-mx-b it happens randomly and not easily reproducible so I'm not sure too. But when it happens it will keep bugging until I restart the app.

[2022-11-14 10:14] joelmgallant commented on #582
Agreed - I see this pretty frequently.
First; love this software, it's an absolute gem - and thank you for it!

Generally I have a setup with:
- 2 virtual desktops
- 2 browsers (one Safari, one Vivaldi)
 - one on each VD

The behaviour I observe often has these characteristics:
- open link on one VD
- OS auto-switches to second VD to display popup
- popup is shown briefly before other windows appe

[2022-11-16 13:58] will-stone commented on #572
There's no more delay it just [keeps retrying every half second until at least one app is found](https://github.com/will-stone/browserosaurus/blob/39e79e40eb96581f3f3ca5fb94eef24f900a1cc3/src/main/utils/get-installed-app-ids.ts#L17). It could be changed to keep going until at least Safari is found. Please submit a PR and I'll gladly take a look.

[2022-11-17 00:49] mreid-tt commented on #572
Unfortunately I am not familiar enough with your codebase structure to suggest a PR that would make sense. I am also not that versed in TypeScript. In any event, I believe the current logic presumes that when one app is found that all apps should be visible and this is not the case in practice.

What we could possibly do is leverage the value on the main screen which lists the correct number of ap

[2022-11-17 06:48] will-stone commented on #572
What happens if an app has been removed since last scan/boot? Wouldn’t you then be stuck in an infinite loop?

[2022-11-17 11:05] mreid-tt commented on #572
This is true. I guess we can put this into a counter which would limit the number of times it would loop.

[2022-11-17 22:12] mreid-tt commented on #572
@will-stone, so I tried to do a deep dive into the code to better understand how it works (though I am not that versed in TypeScript). The codebase is somewhat difficult to grasp since there are so many dependencies and the logic is often not clear (with very few comments if any).

What I could glean is that:
1. This line calls for a search of apps in the system based on a list of approved apps
ht

[2022-11-20 07:45] will-stone commented on #572
Hi @mreid-tt Thanks for writing up your understanding. Let's address each question:

1. The recursion is throttled by the [wait line above it](https://github.com/will-stone/browserosaurus/blob/472bda1b3fc2a85194092bf12fa2e57526570511/src/main/utils/get-installed-app-ids.ts#L17). This recursion is what mitigates the case of the Spotlight index not being ready.
2. Yes, this has always been a worry o

[2022-11-20 07:56] will-stone commented on #572
Ooo, one thing we could do (inspired by your run-mdfind-once method) is search for all apps at once, e.g.
[code]
I'm not sure how to interpret the results yet but this may be a good place to start.

[2022-11-20 10:28] mreid-tt commented on #572
Thanks much for confirming my understanding of the logic. To continue the discussion:

Based on the research I did, the actual path does not change based on localisation (see [Programmatically get the name of the Application Folder in OSX](https://stackoverflow.com/questions/11800545/programmatically-get-the-name-of-the-application-folder-in-osx) and [Languages and file paths](https://discussions.

[2022-11-20 12:43] will-stone commented on #572
But then wouldn’t we be running _more_ mdfinds? One for each installed app?

[2022-11-20 13:13] mreid-tt commented on #572
Yes, you are correct that there would be multiple calls to `mdls` (not `mdfind`), which is why I posed this question at the end of the proposal:

Here's my reasoning behind the proposed solution:

1. At present B has an internal list of 60+ apps. Each of these require a call to `mdfind` and depending on the state of the Spotlight index the results may be unreliable
2. Based on limited testing, the

[2022-11-20 15:10] christoph-werker opened #585 "Assign on all Desktops possible?"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-11-20 15:43] will-stone commented on #585
Duplicate #582

[2022-11-20 15:43] #585 closed

[2022-11-20 15:47] will-stone commented on #572
ah, it's because you're using quotes to make statements: I keep skipping them, thinking you're quoting me 🙂

Sounds great. I'll look into it 👍

[2022-11-20 21:42] will-stone commented on #572
I've just installed Brave and had the same issue, where it wasn't picking it up. But it wasn't listed in `mdfind kMDItemKind == 'Application' -onlyin '/Applications'` until I deselected `Applications` and reselected it in Spotlight settings. So... unfortunately it's nothing to do with B, it's a Ventura bug.

@mreid-tt I've changed the logic for finding apps which makes it faster and more scalable,

[2022-11-21 02:38] mreid-tt commented on #572
Hey, thanks very much for considering my proposal. From what you shared it appears that finding all matching applications at once is not always reliable as it initially appeared to be. I look forward to the next release and perhaps we can see if it changes the intermittency of the symptoms in any way.

I don't know if you had any time to look into these results I shared earlier. Do you think they

[2022-11-21 09:45] Sebi11 commented on #572
Same issue here since this morning when I installed version 19.3.2. I'm missing Chrome and Edge from the list, despite running a "rescan" and resetting the preferences 🤔

[2022-11-21 10:34] porcherie opened #586 "v 19.3.2 missing safari and brave from list"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-11-21 11:31] henocookie commented on #586
+1 my install isn't finding Chrome or Safari but is finding Slack, Zoom, Discord and Firefox.

Performing a rescan, reset or quitting and reopening the app haven't resolved the bug.

<img width="712" alt="Screenshot 2022-11-21 at 11 28 59 am" src="https://user-images.githubusercontent.com/52792328/203039959-471d456e-f8ac-4d16-9ec1-1f32e9a472eb.png">

[2022-11-21 13:07] will-stone commented on #586
Dupe if #572

[2022-11-21 13:07] #586 closed

[2022-11-21 13:10] henocookie commented on #572
After updating today, Browseraurus isn't finding Chrome or Safari but is finding Slack, Zoom, Discord and Firefox.

Performing a rescan, reset or quitting and reopening the app haven't resolved the bug.

[2022-11-21 14:25] will-stone commented on #572
:rotating_light: **This is not Browserosaurus**: Spotlight is not properly indexing your applications :rotating_light:

Uncheck `Applications` in Spotlight and check it again. Then wait a min, then restart Browserosaurus.

<img width="667" alt="image" src="https://user-images.githubusercontent.com/654103/203078224-fff278c5-0f5e-4868-aa20-08eae0ed19bb.png">

[2022-11-21 14:28] Sebi11 commented on #572
I tried that @will-stone but I'm still missing one browser (randomly it seems).

[2022-11-21 14:52] salimhb commented on #572
Thanks @will-stone, this helps a bit, but now I have Safari again and Firefox is gone 😅
If there's anything I can send you to help troubleshoot this issue?

[2022-11-22 08:29] soumahmed commented on #572
Just popping in here to say that I'm facing the same issue. Good to know it's happening to many people (not intended to say the issue is good but I mean I'm relieved I'm not alone)

Upon scanning it detected 11 apps (it's not able to scan Firefox because in reality it should show 12 apps) but in reality it only shows 7 apps. I did factory reset. Nothing happened. Then I unchecked applications in S

[2022-11-22 09:02] will-stone commented on #572
You have to make sure you check “applications” again as it **really** won’t work.

No more “me too”s please 🙏 A solution is being worked on but we still may be at the mercy of Apple here.

If someone would really like to help out: please try to isolate the issue with `mdfind`/`mdls` and report it to Apple. Thank you.

[2022-11-22 09:16] Maddog2050 commented on #572
I'm seeing this issue also, but after doing some digging it seems to be an issue with `mdfind` metadata because if you specify the query `"kMDItemKind == 'Application'"` the output is missing applications but if you specify the query as `"kMDItemKind == *"` all applications are listed. As you can see from the two outputs below there are 2 applications missing (`Brave Browser` and `Browserosaurus`)

[2022-11-22 10:07] fabiostawinski commented on #572
For me it is the same, started appearing only chrome, after I the factory reset, now it doesnt' show chrome anymore. I used brew to install it, is there any difference it I clone the code and install manually?

[2022-11-23 20:28] tilama opened #589 "Browsers missing in 19.3.2 making it a no-go update"
### Is there an existing issue for this?

- [X] I have searched the existing issues
- [X] I have searched the [discussions forum](https://github.com/will-stone/browserosaurus/discussions)
- [X] I understand this form is for reporting bugs, and not for requesting [support for new browsers or apps](https://github.com/will-stone/browserosaurus/blob/master/guide/supporting-a-browser-or-app.md).

### C

[2022-11-23 21:03] will-stone commented on #589
Dupe #572

[2022-11-23 21:03] #589 closed

[2022-11-23 22:15] will-stone commented on #572
Thanks @mreid-tt for all the help so far. Please try 19.3.3 and let me know if it works. It doesn't go as far as @mreid-tt's suggestions but let's see how it goes 🙂

[2022-11-23 22:46] mreid-tt commented on #572
So it is a much simpler fix to improve the browser list reliability. Overall there should be far fewer function calls so there would be an efficiency improvement as well in the scanning. As noted in the discussion on my PR, the list is generally complete via this approach when run within one minute of boot with the exception of Safari. I have to do a manual rescan after about another minute or two